body{
    background: linear-gradient(to left, teal, yellow, lightgreen);
}
 .w1{
    background-color: slategrey;
    font-size: larger;
    width: 350px;
    height: 433px;
    margin: 100px auto;
    border: 1px solid black;
    text-align: center;
    padding-top: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 20px lightcoral,
                -5px -5px 20px lightcoral;
}
.w2{
    color: white;
}
img{
    border-radius: 50%;
    padding: 10px;
} 
.w4{
    text-align: center;
    padding-top: 67px;
}   
button{
    width:  100%;
    height: 50px;
    background-color: teal;
    color: white;
    font-size: x-large;
    border-radius: 10px;
}